@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&family=Inter:wght@400;500;600&display=swap");
@import "tailwindcss";

@layer base {

  :root {

    /* =============== BRAND COLORS =============== */

    --primary: #F97316;          /* Academic Orange */
    --primary-light: #FDBA74;    /* Hover Orange */
    --primary-soft: #FFF7ED;     /* Background tint */

    --secondary: #EA580C;        /* Button active */

    /* =============== BACKGROUND =============== */

    --bg-main: #FDFCF9;
    --bg-subtle: #FAFAF7;
    --bg-card: #FFFFFF;
    --bg-hover: #FFF7ED;

    /* =============== TEXT =============== */

    --text-main: #1F2937;
    --text-muted: #6B7280;
    --text-light: #9CA3AF;

    /* =============== BORDER =============== */

    --border-main: #E5E7EB;
    --border-focus: #FDBA74;

    /* =============== STATUS COLORS =============== */

    --success: #16A34A;
    --warning: #FACC15;
    --danger: #DC2626;
  }
}

body {
  background-color: var(--bg-subtle);
  color: var(--text-main);
  font-family: "Inter", sans-serif;
}

.font-heading {
  font-family: "Playfair Display", serif;
}
::selection {
  background: #FDBA74;
  color: #1F2937;
}
button{
  cursor:pointer;
}